<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='Content-type' content='text/html'>
    <meta name='viewport' content='width=device-width'>
    <meta name='author' content='pjpscriv'>
    <meta name='description' content='Access Aware Analytics'>
    
    <link rel='shortcut icon' type='image/x-icon' href='/static/img/favicon.ico' />
    <link rel='stylesheet' type='text/css' href='/static/css/theme.css'>
  </head>

  <body>
    <h1>Access Aware Dashboard</h1>
    
    <div class='options'>
      <!-- Just abuses for now
      <select class='channel'>
        <option disabled selected hidden>Channel</option><option>Abuses</option><option>Parks</option><option>Can't Find Park</option><option>Feedback</option>
      </select>
      -->

      <select class='region'>
        <option disabled selected hidden>Region</option>
        <option>Northern</option><option>Midlands</option><option>Central</option><option>Southern</option>
      </select>
      
      <!-- Months only atm
      <select class='Time-period'>
        <option disabled selected hidden>Time Period</option>
        <option>Day</option><option>Week</option><option>Month</option><option>Year</option><option>All Time</option>
      </select>
      -->

      <!-- TODO: Dynamically Populate-->
      <select class='year'>
          <option disabled selected hidden>Year</option>
          <option>2017</option><option>2018</option><option>2019</option><option>2020</option>
      </select>

      <!-- TODO: Dynamically Populate-->
      <select class='month'>
          <option disabled selected hidden>Month</option>
          <option value=1>Jan</option>
          <option value=2>Feb</option>
          <option value=3>Mar</option>
          <option value=4>Apr</option>
          <option value=5>May</option>
          <option value=6>Jun</option>
          <option value=7>Jul</option>
          <option value=8>Aug</option>
          <option value=9>Sep</option>
          <option value=10>Oct</option>
          <option value=11>Nov</option>
          <option value=12>Dec</option>

      </select>

      <!-- TODO: Dynamically Populate-->
      <!--
      <select class='Day'>
          <option disabled selected hidden>Day</option>
          <option>1</option>
      </select>
      -->
    </div>

    <div class='results'>
      <!--
      <div>
        <p>No data to display</p>
        <p></p>
      </div>
      -->
    </div>
  </body>

  <script type='text/javascript' src='https://www.gstatic.com/charts/loader.js'></script>
  <script type='text/javascript' src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
  <script type='text/javascript' src='/static/js/ajax.js'></script>
  <script type='text/javascript' src='/static/js/chart-drawer.js'></script>
</html>