<html>
  <head>
    <meta http-equiv="Content-type" content="text/html">
    <meta charset="utf-8">
    
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/static/css/theme.css">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script type="text/javascript" src="/static/charts/bar.js"></script>
    <script>
      google.charts.load("current", {"packages":["corechart"]});
      google.charts.setOnLoadCallback(drawCharts);
    </script>
  </head>

  <body>
    <h1>Access Aware Dashboard</h1>
    <h3>Peter {{test}}</h3>
    
    <select>
      <option disabled selected hidden>Region</option>
      <option>Northern</option>
      <option>Midlands</option>
      <option>Central</option>
      <option>Southern</option>
    </select>
    <select>
      <option disabled selected hidden>Time Period</option>
      <option>Day</option>
      <option>Week</option>
      <option>Month</option>
      <option>Year</option>
      <option>All Time</option>
    </select>
    <select>
      <option disabled selected hidden>Channel</option>
      <option>Abuses</option>
      <option>Parks</option>
      <option>Can't Find Park</option>
      <option>Feedback</option>
    </select>

    <div>
      <div id="fraction_chart"></div>
      <p></p>
    </div>

    <div>
      <div id="public_private_chart"></div>
      <p></p>
    </div>

    <div>
      <div id="state_chart"></div>
      <p></p>
    </div>

    <div>
      <div id="areas_chart"></div>
      <p></p>
    </div>

  </body>
</html>